[run]
branch = True
source = aim
omit = aim/tests/*,aim/agent/aid/observers/base_observer.py,aim/common/hashtree/base.py,aim/db/migration/alembic_migrations/env.py,aim/tools/cli/commands/_*,aim/tools/cli/debug/*

[report]
ignore_errors = True
