[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Amit Bose (amittbose)
[access "refs/for/refs/*"]
	read = group user/Amit Bose (amittbose)
	push = group user/Amit Bose (amittbose)
	label-Code-Review = -2..+2 group user/Amit Bose (amittbose)
	label-Verified = -1..+1 group user/Amit Bose (amittbose)
	rebase = group user/Amit Bose (amittbose)
	removeReviewer = group user/Amit Bose (amittbose)
	submit = group user/Amit Bose (amittbose)
[access "refs/heads/*"]
	read = group user/Amit Bose (amittbose)
	create = group user/Amit Bose (amittbose)
	push = +force group user/Amit Bose (amittbose)
	pushMerge = group user/Amit Bose (amittbose)
[access "refs/tags/*"]
	push = +force group user/Amit Bose (amittbose)
	pushTag = group user/Amit Bose (amittbose)
	pushSignedTag = group user/Amit Bose (amittbose)
[receive]
	requireSignedOffBy = true
