[Unit]
Description=Polling Event Service for ACI Inconsistency Detector
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aim-event-service-polling --config-file=/etc/aim/aim.conf --log-file=/var/log/aim-event-service-polling.log
PrivateTmp=false
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

