[Unit]
Description=ACI Inconsistency Detector
After=network.target
Wants=aim-event-service-polling.service aim-event-service-rpc.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/aim-aid --config-file=/etc/aim/aim.conf --log-file=/var/log/aim-aid.log
PrivateTmp=false
KillMode=process
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

